<div class="container margin-top">
    <div>
        <div class="jumbotron text-center">
            <h1>{{message}}</h1>
        </div>
    </div>
    <div class="gridster">
        <ul>
            <li data-sizey="2" data-sizex="2" data-col="4" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="1" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="2" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="2" data-sizex="2" data-col="1" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="3" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="3" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="4" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="6" data-row="1">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="5" data-row="3">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="3" data-row="2">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
            <li data-sizey="1" data-sizex="1" data-col="6" data-row="2">
                <div class="gridster-box">
                    <div class="handle-resize"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
